body {
    margin: 0;
    background-color: white;
}

.viewDiv {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

input[type="number"] {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: large;
    border: 0;
    color: #ff5252;
    letter-spacing: 7px;
    text-indent: 7px;
    font-family: 微软雅黑;
    font-weight: bold;
}

.inputDiv {
    position: absolute;
    border: 2px solid #ff5252;
    left: 31.9%;
    top: 33.1%;
    right: 31.9%;
    bottom: 61.4%;
    border-radius: 6px;
    z-index: 999;
}

.buttonDiv {
    position: absolute;
    left: 32.1%;
    top: 84.4%;
    right: 31.9%;
    bottom: 10.4%;
    z-index: 1;
}